<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin page</title>
    </head>
    <body>

        <h1>Welcome Admin!</h1>
        <p>Sign up list:</p>

        <ul>
            <li th:each="signup : ${signups}">Name: <span th:text="${signup.name}">namehere</span>, address: <span th:text="${signup.address}">addresshere</span></li>
        </ul>

        <p>When festival is over, clear the database to prepare for the next epic festival</p>
        <form th:action="@{/admin}" th:method="DELETE"><input type="submit" value="Clear"/></form>
        
    </body>
</html>
